body {
	background:#F0F4F8;
}
/* Overrides */
@media (min-width: 1280px) {
    .container { max-width: 1000px;}
}

.card {
    border-radius: 20px;
}

.page-header {
    margin:0;
}

.header {
    background: #334E68;
    border-bottom: none;
    color:white;

    h2 {
    	margin-bottom: 0;
    }

    .text-default {
    	color:white !important;
    }
}

.footer {
    opacity: 0;
}


#profilesModal {
    table {
        width:100%;

        tr > td {
            padding:20px 0px;

            &:first-child {
                width: 1px;
                padding:0px 5px;
                white-space:nowrap;
            }

            &:nth-child(2) {
                padding-left:10px;
            }
        }
    }
}
