@import 'bootstrap/bootstrap-reboot.scss';
@import 'bootstrap/bootstrap-grid.scss';
@import 'bootstrap/utilities/_spacing.scss';
@import 'bootstrap/utilities/_float.scss';

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	border-top:5px solid #4392F1;
	padding:20px 0px;
	overflow-x:hidden;
}

.btn {
	padding:5px 15px;
	border:2px solid #4392F1;
	border-radius: 20px;
	color: #4392F1;
	display: inline-block;

	&:hover, &:active, &:focus {
		background: #4392F1;
		color:white;
		text-decoration: none;
	}
}

.btn-lg {
	padding:10px 15px;
	border-radius: 5px;
}

.btn-primary {
	background: #4392F1;
	color: white;

	&:hover, &:active, &:focus {
		background: #327dd6;
		border:2px solid #327dd6;
	}
}

main {
	padding-top:15rem;
}

h2 {
	font-size:40px;
	margin-bottom: 0;
}

h2:before {
	content: url('../images/instagram.svg');
	width:46px;
	height:46px;
	display: inline-block;
	padding-right:10px;
	vertical-align: text-top;
}

h3 {
	font-weight: 400;
	font-size:20px;
	color:#4392F1;
}

p {
	font-weight: 300;
	width:80%;
	color: hsl(0, 0%, 33%);
}

.slack-notification {
	text-align: right;

	> img {
		margin-right: -10px;
	}
}

footer {
	font-size:12px;
	text-align: center;
	margin-top:40px;
	color:#adb5bd;

	a {
		color:#adb5bd;

		&:hover {
			color:#868e96;
		}
	}
}

/**
 * Animate.css
 */
.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@media (prefers-reduced-motion) {
	.animated {
		-webkit-animation: unset !important;
		animation: unset !important;
		-webkit-transition: none !important;
		transition: none !important;
	}
}

@-webkit-keyframes bounceInRight {
	from,
	60%,
	75%,
	90%,
	to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	from {
		opacity: 0;
		-webkit-transform: translate3d(3000px, 0, 0);
		transform: translate3d(3000px, 0, 0);
	}

	60% {
		opacity: 0.9;
		-webkit-transform: translate3d(-25px, 0, 0);
		transform: translate3d(-25px, 0, 0);
	}

	75% {
		-webkit-transform: translate3d(10px, 0, 0);
		transform: translate3d(10px, 0, 0);
	}

	90% {
		-webkit-transform: translate3d(-5px, 0, 0);
		transform: translate3d(-5px, 0, 0);
	}

	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes bounceInRight {
	from,
	60%,
	75%,
	90%,
	to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	from {
		opacity: 0;
		-webkit-transform: translate3d(3000px, 0, 0);
		transform: translate3d(3000px, 0, 0);
	}

	60% {
		opacity: 0.9;
		-webkit-transform: translate3d(-25px, 0, 0);
		transform: translate3d(-25px, 0, 0);
	}

	75% {
		-webkit-transform: translate3d(10px, 0, 0);
		transform: translate3d(10px, 0, 0);
	}

	90% {
		-webkit-transform: translate3d(-5px, 0, 0);
		transform: translate3d(-5px, 0, 0);
	}

	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.bounceInRight {
	-webkit-animation-name: bounceInRight;
	animation-name: bounceInRight;
}
