@import 'bootstrap/bootstrap-reboot.scss';
@import 'bootstrap/bootstrap-grid.scss';
@import 'bootstrap/utilities/_spacing.scss';
@import 'bootstrap/utilities/_float.scss';

$primary-color: #4392F1;

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	border-top:5px solid $primary-color;
	padding:20px 0px;
	overflow-x:hidden;
}

#logo {
	color: $primary-color;
	font-size:36px;
	margin-bottom:0;
}

.btn {
	padding:5px 15px;
	border:2px solid $primary-color;
	border-radius: 20px;
	color: $primary-color;

	&:hover, &:active, &:focus {
		background: $primary-color;
		color:white;
		text-decoration: none;
	}
}

.btn-lg {
	padding:10px 15px;
	border-radius: 5px;
}

.btn-primary {
	background: $primary-color;
	color: white;

	&:hover, &:active, &:focus {
		background: #327dd6;
		border:2px solid #327dd6;
	}
}

main {
	margin-top:1rem;
	margin-bottom:1rem;
}

p {
	font-weight: 300;
	color: hsl(0, 0%, 33%);
}

h2 {
	font-size:40px;
	margin-bottom: 0;
}

h2:before {
	content: url('../images/instagram.svg');
	width:46px;
	height:46px;
	display: inline-block;
	padding-right:10px;
	vertical-align: text-top;
}

h3 {
	font-weight: 400;
	font-size:20px;
	color:$primary-color;
}

footer {
	font-size:12px;
	text-align: center;
	margin-top:40px;
	color:#adb5bd;

	a {
		color:#adb5bd;

		&:hover {
			color:#868e96;
		}
	}
}

@media (min-width: 992px) {
	main {
		padding-top:10rem;
		text-align: left;
	}

	p {
		width:80%;
	}
}

@media (min-width: 1200px) {
	main {
		padding-top:15rem;
	}
}

.vertical-align {
	display: flex;
    align-items: center;
}
