/* Navigation */

@media (min-width: 1280px) {
  .container {
    max-width: 1000px;
  }
}

#mainMenu {
  color: #9aa0ac;
  font-size: 17px;
}

#mainMenu a {
  color: inherit;
  font-family: "Mukta";
}

#mainMenu a.active {
  color: #333333;
}

#mainMenu a:hover {
  color: #333333;
}

#mainMenu a .icon {
  color: inherit !important;
}

#mainMenu a i {
  margin-right: 0.25em;
}

.page-header {
  margin: 0;
}

.header {
  background: transparent;
  border-bottom: none;
}

.footer {
  opacity: 0;
}

