body {
  background: #F0F4F8;
}

/* Helpers */

.full-width {
  width: 100%;
}

/* Overrides */

@media (min-width: 1280px) {
  .container {
    max-width: 1000px;
  }
}

.card {
  border-radius: 20px;
}

.page-header {
  margin: 0;
}

.header {
  background: #334E68;
  border-bottom: none;
  color: white;
}

.header h2 {
  margin-bottom: 0;
}

.header .text-default {
  color: white !important;
}

.footer {
  opacity: 0;
}

#profilesModal table {
  width: 100%;
}

#profilesModal table tr:nth-child(odd) {
  background: #f5f5f5;
}

#profilesModal table tr > td {
  padding: 22px 0px;
}

#profilesModal table tr > td:first-child {
  width: 1px;
  padding: 0px 5px;
  white-space: nowrap;
}

#profilesModal table tr > td:nth-child(2) {
  padding-left: 10px;
}

#profilesModal table .avatar {
  box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.5);
}

.nav-item a {
  color: white;
  font-size: 1.05rem;
}

.nav-item a:hover {
  text-decoration: none;
  color: #c4c4c4;
}

